<div class="row">
    <div class="span-large-20">
        <div>
            <span>{{ postTitle }}</span>
        </div>
        <div></div>
        <div>{{ postPreview }}</div>
    </div>
    <div class="span-large-4">
        Read more
    </div>
</div>