{% extends "VeniceAppBundle::base.html.twig" %}


{% block title %}
    About
{% endblock %}


{% block content %}
    <div class="row newsletters">
        <div class="span-large-24">
            <div class="block-title">
                About
            </div>
            <div class="static-page">
                <p>FLO FIT is a workout and nutrition program that will get you in the best shape of your life. Designed by international recording superstar FLO RIDA and his personal trainer Mike Saffaie, FLO FIT provides a series of workouts for men and women that were specifically designed to
                fit within today’s busy lifestyle.</p>
                <p>The workouts and books included in the FLO FIT program are available in multiple formats, and accessible from anywhere. The workout videos can be streamed online on a computer, TV, tablet, or mobile device, accessed through the FLO FIT App, or via traditional DVD discs. The books
                and calendars can be downloaded as PDFs or provided as physical printed books. FLO FIT provides everything you need to lose weight, tone muscle, and look and feel amazing!</p>
                <p>FLO FIT is sold and distributed under license by Flo Life LLC, a health and wellness company dedicated to providing fitness products to individuals across the world. Flo Life is operated by a group of experienced professionals in the health and fitness industry that are dedicated
                to providing high quality products that get results.</p>
            </div>
        </div>
    </div>
{% endblock %}
