{% extends "VeniceAppBundle::base.html.twig" %}


{% block title %}
    Privacy & policy
{% endblock %}


{% block content %}
    <div class="row newsletters">
        <div class="span-large-24">
            <div class="block-title">PRIVACY POLICY</div>
                <div class="static-page">
                    <h1>INTRODUCTION</h1>

                    <h2>Application</h2>
                    <p>This Privacy Policy applies to Web Site(s) owned and operated by Flo Life LLC. (“FLL”, “we”, “us”, or “our”), including www.my.flofit.com (the “Web Site”) and all related or subsidiary FLO FIT sites such as www.flofit.com. By using the Web Site, you agree, without limitation
                    or qualification, to be bound by this Privacy Policy.</p>
                    <p>Please note that any Personal Information (as defined below) that you may disclose in the Web Site public forum areas (for example, on bulletin boards, blogs, chat rooms or similar online public spaces) is not covered by this Privacy Policy. We cannot control use by third
                    parties of the information that you disclose in these areas, including contacting you for unauthorized purposes.</p>
                    <h2>Outline of Policy</h2>
                    <p>This Privacy Policy explains the following about the collection, use and disclosure of your Personal Information by and through the Web Site:</p>
                        <ol>
                            <li>1. What non-Personal and Personal Information is collected</li>
                            <li>2. How Personal Information is used and disclosed</li>
                            <li>3. Your options regarding the collection, use and disclosure of Personal Information</li>
                            <li>4. What security procedures we have put in place to protect against the loss or unauthorized use or disclosure of Personal Information in our custody or under our control</li>
                            <li>5. How you can access your Personal Information in our custody or control and correct any inaccuracies</li>
                        </ol>
                    <h2>Modifications to this Policy</h2>
                    <p>FLL reserves the right to make changes to this Privacy Policy at any time by posting such changes on the Web Site. Modifications shall be effective when they are posted on the Web Site, which posting shall constitute notice to you. Your continued use of the Web Site following
                     the posting of any such modifications on the Web Site will mean that you accept and agree to be bound by such modifications. We encourage you to check the Web Site regularly to see if we have made any modifications to this Privacy Policy.</p>
                    <p>If at any point we decide to use Personal Information in a manner different from that stated at the time it was collected, we will notify users by way of e-mail. Users will have a choice as to whether or not we use their Personal Information in this different manner.</p>

                    <h2>Business Ideas</h2>
                    <p>This Privacy Policy does not protect you when you send business information, ideas, concepts or inventions to us by email to the contacts listed on the "Help" link on our Web Site. If you want to keep business information, ideas, concepts or inventions private or proprietary,
                     do not send them in an email to us.</p>
                    <h2>Links to Third Party Web sites</h2>
                    <p>The Web Site contains links to other Web sites (whether through an advertisement, service or content link). Please be aware that we are not responsible for the privacy practices of such third-party Web sites. Any Personal Information that you reveal on such sites is not
                    covered by this Privacy Policy. You should review the privacy policy of all third-party Web sites that you visit to understand their privacy practices.</p>
                    <h2>COLLECTION OF NON-PERSONAL INFORMATION</h2>
                    <p>Even if you do not register with our Web Site or purchase products, we collect non-Personal Information about your use of our Web Site, special promotions and newsletters in the following ways:</p>
                    <h3>Cookies</h3>
                    <p>A “Cookie” is a piece of data temporarily stored on the user's hard drive containing non-Personal Information about the user. The information collected by Cookies (i) helps us facilitate a user’s login authentication and enables session timing, (ii) helps users navigate
                    around the Web Site, (iii) helps us dynamically generate content and advertising on Web pages or in newsletters, (iv) allows us to statistically monitor how many people are using our Web Site and selected sponsors' and advertisers' sites, (v) how many people open our emails, and (vi) for what purposes these actions are being taken.</p>
                    <p>Please review the privacy policy of other sites you visit or link to from our Web Site to understand how these other sites use Cookies and how they use the information they collect through the use of Cookies or web beacons on their own sites.</p>

                    <h3>Sharing Non-Personal Information</h3>
                    <p>We may provide third-parties with non-Personal Information that does not allow you to be identified or contacted, including where such information is combined with similar information of other users of our Web Site. For example, we provide our advertisers and other third
                    parties with aggregate, non-Personal Information about our Web Site users, including the number of unique users who visit our Web Site, the demographic breakdown of the registered users of our Web Site, or the activities that visitors to our Web Site engage in while on our Web Site.</p>

                    <h3>COLLECTION OF PERSONAL INFORMATION</h3>
                    <p>You are free to visit and use our Web Site without providing any Personal Information. However, in order to take advantage of our products and services that we offer on the Web Site, you will have to provide personal information about yourself (“Personal Information”),
                    including:</p>
                    <ul>
                        <li>* your name</li>
                        <li>* email address</li>
                        <li>* mailing address</li>
                        <li>* billing and credit card information (if you are making a purchase of goods or services)</li>
                    </ul>

                    <p>At registration and at various times as you use this Web Site, you will be given the option of receiving recurring informational/promotional newsletters via email from us and/or directly from third parties, in the event that these are offered. These emails will not contain
                    health-related Personal Information. In order to subscribe to such newsletters via email, we need your contact information, such as name and email address. You can unsubscribe from the newsletters by following the directions in any email newsletter.</p>

                    <p>Providing us with your Personal Information is strictly voluntary and indicates your consent to the uses we describe in this Privacy Policy.</p>

                    <p>You can withdraw your consent at any time. However, if you withdraw your consent to uses that relate to your account and program, we may not be able to continue to provide you with the products and services offered by our Web Site.</p>

                    <p>We are the sole owner of the information collected on the Web Site.</p>

                    <h3>USE OF PERSONAL INFORMATION</h3>
                    <p>We use the Personal Information we collect from you to:</p>
                    <ul>
                        <li>* bill you and conduct other billing and account activity</li>
                        <li>* respond to any questions that you submit</li>
                        <li>* seek your comments and feedback about our products and services</li>
                        <li>* notify you about changes to our services and send offers of new products and services</li>
                    </ul>
                    <p>We may also aggregate Personal Information we collect from users to create a variety of statistics, for example, to determine geography, areas of interest, and purchase history. The information that you provide for these purposes will not be personally identifiable to you.</p>

                    <h3>Disclosure of Personal Information</h3>
                    <p>Except as set forth in this Privacy Policy, we will not disclose any Personal Information we gather from you on our Web Site without your prior permission.</p>
                    <p>We use an outside shipping company to ship orders, and a credit card processing company to bill users for goods and services. These companies do not retain, share, store or use Personal Information for any secondary purposes and our agreements with such providers restrict the
                     use of this information.</p>
                    <p>From time to time we may partner with another party to provide products and services. When a user signs up for these products and services, we will share names, or other contact information that is necessary for the third party to provide these products and services. These
                    parties are not allowed to use Personal Information except for the purpose of providing these products and services unless you consent.</p>
                    <p>We may also release Personal Information to third-parties: (1) to comply with valid legal requirements such as a law, regulation, search warrant, subpoena, court order, or legal process; or (2) in special cases, to investigate or prevent fraud, abuse or illegal conduct, or to
                     protect our rights and/or property.</p>
                    <p>Additionally, in the unlikely event that the entirety of our business is sold, liquidated, merged, or transferred to a third-party, we may transfer all Personal Information and non-Personal Information to the party purchasing or merging with us. We will endeavor, in good
                    faith, to gain the third party's agreement and adherence to the terms of this Privacy Policy. In addition, we will use good faith efforts to notify users of any such transfer through notice on our Web Site and through email.</p>

                    <h3>Protection of Personal Information</h3>
                    <p>The security of your Personal Information is important to us. When you enter your credit card number on our registration or order forms, that information is encrypted.</p>
                    <p>We follow generally accepted industry standards to protect the Personal Information submitted to us. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to
                    protect your Personal Information, we cannot guarantee its absolute security.</p>
                    <p>If you have any questions about security on our Web Site, please email us through the “Help & FAQ” section of the Web Site.</p>

                    <h3>Access/Correction/Updating Personal Information</h3>
                    <p>You can always contact us in order to (1) access, update or correct your Personal Information, (2) change your preferences with respect to communications and other information you receive from us or third parties, or (3) delete the Personal Information maintained about you on
                     our systems. Such updates, corrections, changes and deletions will not have an effect on other information that we maintain, or information that we have provided to third parties in accordance with this Privacy Policy prior to such update, correction, change or deletion.</p>
                    <h3>Choice/Opt-out:</h3>
                    <p>Our users are given the opportunity to "opt-out" of having their Personal Information used for purposes not directly related to our Web Site at the point where we ask for the information. For example, our order form will have an "opt-out" mechanism so users who buy a product
                    from us, but don't want any marketing material, can keep their email address off our lists.</p>
                    <p>Users who no longer wish to receive our newsletters or promotional materials from our partners may opt-out of receiving these communications by following the direction in the applicable newsletter or promotional materials.</p>

                    <h3>Questions/Contact</h3>
                    <p>If you have any questions or concerns about this Privacy Policy or our handling of your Personal Information or would like to access, correct or update your Personal Information, you can reach us through the “Help and FAQ” section of the Web Site.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
