{% extends "VeniceAppBundle::base.html.twig" %}


{% block title %}
    Terms
{% endblock %}


{% block content %}
    <div class="row newsletters">
        <div class="span-large-24">
            <div class="block-title"><h1>Terms of Use</h1></div>
                <div class="static-page">
                    <p>These Terms of Use apply to Web Site(s) owned and operated by Flo Life LLC. ("FLL", "we", "us", or "our"), including www.my.flofit.com (the "Web Site") and all related and subsidiary FLO FIT web sites such as www.flofit.com. By using the Web Site, you agree, without limitation or</p>
                    qualification, to be bound by the terms and conditions as set forth below.
                    <h2>Privacy Policy</h2>
                    <p>At FLL, we respect your privacy and believe you should be informed about how we collect, use and disclose your personal information. Please read our privacy policy (the "Privacy Policy") before using the Web Site.</p>

                    <h2>Modification to Terms of Use</h2>
                    <p>FLL reserves the right to make changes to these Terms of Use and the Privacy Policy at any time by posting such changes on the Web Site. Modifications to any of the foregoing shall be effective when they are posted on the Web Site, which posting shall constitute notice to you. Your</p>
                    continued use of the Web Site following the posting of any such modifications on the Web Site will mean that you accept and agree to be bound by such modifications. We encourage you to check the Web Site regularly to see if we have made any modifications to these Terms of Use and the Privacy Policy.

                    <h2>Age Requirement</h2>
                    <p>In order to use the Web Site you must be at least 18 years of age or the legal age to form a binding contract in your jurisdiction if that age is greater than 18 years of age. Individuals who are under the age of 18 or the legal age to form a binding contract in their jurisdiction</p>
                    ("Minors") are prohibited from using the Web Site. Accordingly, if you are a Minor, please do not attempt to register for the Web Site or send any information about yourself to us, including your name, address, telephone number, or email address. In the event that we learn that we have collected personal information from a Minor, we will delete that information as soon as reasonably practicable. If you believe that we might have any information from or about a Minor, please contact us at help@flofit.com. You represent that the information that you provide about yourself (including your age) as requested in any account registration form (the "Registration Data") is accurate and complete.

                    <h2>Consult a Physician</h2>
                    <p>Please note that the content and services offered on the Web Site are general in nature and are provided for educational purposes. NEITHER THE CONTENT NOR ANY SERVICES OFFERED BY OR THROUGH THE WEB SITE ARE INTENDED TO BE RELIED UPON FOR MEDICAL DIAGNOSIS OR TREATMENT OR TO REPLACE</p>
                    THE RELATIONSHIP WITH YOUR PHYSICIAN. FLL STRONGLY ADVISES THAT YOU CONSULT YOUR PHYSICIAN AND OTHER HEALTH CARE PROFESSIONAL BEFORE STARTING ANY FITNESS PROGRAM, CHANGING YOUR DIET AND BEFORE ADHERING TO ANY OF THE CONTENT, PROGRAMS OR RECOMMENDATIONS PRESENTED THROUGHOUT THE WEB SITE OR PARTICIPATION IN ANY EVENT ANNOUNCED ON THE WEB SITE.
                    <p>Not all exercises or activities described on the Web Site are suitable for everyone. You should understand that when participating in any exercise or exercise program, there is the possibility of physical injury and/or death. If you feel discomfort or pain, immediately stop the</p>
                    activity causing such discomfort or pain. The Web Site should not be used by people who have adverse medical or nutritional conditions.
                    <p>By using the Web Site, you represent that you have received consent from your physician to participate in the programs, workouts and exercises described on the Web Site. You acknowledge and agree that we are not responsible for any resulting health problems and that such</p>
                    participation on your part is voluntary and at your own risk.

                    <h2>Information on the Web Site</h2>
                    <p>We try to provide helpful and accurate information on the Web Site, but we cannot verify, endorse or vouch for the information, services or recommendations available through the Web Site. We are not responsible for the accuracy, reliability, effectiveness, or correct use of</p>
                    information you receive through the Web Site.

                    <h2>Your Obligations</h2>
                    <p>You agree to: (a) maintain all equipment necessary for your access to and use of the Web Site; (b) maintain the security and confidentiality of your user identification, password and other confidential information relating to your account; (c) provide accurate, true, current and</p>
                    complete information about yourself and promptly provide any updates necessary to keep such information accurate, true, current and complete at all times; (d) be responsible for all charges resulting from use of your account, including unauthorized use prior to your notifying us of such use and taking steps to prevent its further occurrence by changing your password; (e) not impersonate another person or entity; (f) not submit, post or transmit any unlawful, infringing, harmful, threatening, abusive, harassing, defamatory, untrue, vulgar, obscene, profane, hateful, racially, ethnically or otherwise objectionable material of any kind, including, but not limited to, any material which encourages conduct that would constitute a criminal offense, violate the publicity and privacy rights of others, or otherwise violate any applicable local, state, national or international law; (g) not use the Web Site to introduce, transmit or otherwise distribute viruses, worms, time bombs or other computer programming code that is intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information; and (h) not to use the Web Site for chain letters, junk mail, "spamming" solicitations (commercial or otherwise) or bulk communications of any kind.

                    <h2>Information and Content you Submit</h2>
                    <p>Any information, including any content, Personal Information (as that term is defined in the Privacy Policy), copyrightable materials and any other information that you provide, post or email on the Web Site's discussions, chats, blogs, postings, transmissions, bulletin boards and</p>
                    other user-created pages (collectively "User Generated Content") shall be subject to the terms and conditions of these Terms of Use.
                    <p>If you post User Generated Content in a public area of the Web Site (including bulletin boards, blogs, chat rooms or other user-created pages), that information will be treated as public, non-personal and non-confidential information. In order to facilitate the posting of this</p>
                    information, whenever you post User Generated Content in a public area of the Web Site, you automatically grant to us a royalty-free, perpetual, irrevocable, assignable, non-exclusive license to use, reproduce, modify, publish, edit, translate, distribute, perform and display User Generated Content alone or as part of other works in any form, media, or technology, and to sublicense such rights. In addition, if you submit Personal Information or any other User Generated Content in connection with any of our contests or sweepstakes, unless you otherwise notify us in writing, you permit us to attribute you as the contributor of such User Generated Content and to otherwise abide by the rules of the contest or sweepstakes.

                    <h2>Community Pages</h2>
                    <p>Although we may from time to time monitor or review discussions, chats, blogs, postings, transmissions, bulletin boards and other public user pages on the Web Site (collectively, the "Community Pages"), we are not under any obligation to do so. You acknowledge that we do not control</p>
                    the information available on the Community Pages and that any opinions, advice, statements, services, offers or other information or content presented or disseminated on any Community Pages are those of their respective authors who are solely responsible for their content, and in no way represent the views or opinions of FLL.
                    <p>You agree that you bear all risks associated with the use of any information available on any Community Pages, including any reliance on the accuracy, completeness or usefulness of such information. Under no circumstances will FLL be liable in any way with respect to such</p>
                    information, including, but not limited to, with respect to any errors or omissions in such information, or for any loss, claim or damages of any kind incurred as a result of the use of such information.

                    <h2>Ownership of the Web Site</h2>
                    <p>The Web Site and all aspects thereof, including but not limited to text, software, photographs, graphics, illustrations, artwork, video, music, sound, names, logos, trademarks, service marks and all other materials (the "Content"), including any copyright, trademark or other</p>
                    intellectual property rights in or to any of the foregoing are the property of FLL or its affiliates or licensors and are protected by copyright, trademark and other applicable laws.
                    <p>FLL grants you a revocable non-exclusive, non-assignable and non-transferable license to display the Content only for personal, non-commercial use. You agree not to modify, reproduce, retransmit, distribute, disseminate, sell, republish, rebroadcast, link to, create derivative works</p>
                    of, publicly display (including by framing any Content) or circulate any Content or commercially exploit any part of the Web Site. Modification of Content or use of Content for any other purpose is a violation of any applicable copyright or other proprietary rights. The use of any Content on any other Web Site or networked computer environment is prohibited.

                    <h2>Copyrighted Materials</h2>
                    <p>When referring to news reports or articles in your posts on the Web Site, including references to reports and articles appearing on other sections of the Web Site, please post only a few sentences for the reader's information and reference and include a link to the rest of the</p>
                    content on the original site. Do not post articles, news reports, photographs, graphics, images, audio, or other copyrighted material in their entirety (or substantial portions thereof) unless you have obtained written permission from the relevant copyright owner(s). Any unauthorized posting of any of the foregoing to the Web Site may violate copyright laws, trademark laws, the laws of privacy and publicity, and/or civil and criminal statutes, and you will be responsible for any liability arising from such violations. If you feel that any content on the Web Site infringes your copyrights or other intellectual property rights, please visit our IP Notification Policy.

                    <h2>User Conduct</h2>
                    <p>If we determine that any user is not using the Web Site responsibly, we have the right (but not the obligation) to remove, edit, block or delete such user's transmissions, User Generated Content, or use of the Web Site. We also have the right (but not the obligation) to suspend or</p>
                    terminate your access to and use of Community Pages or other parts of the Web Site, or delete information you have posted to the Web Site, without prior notice if you engage in any conduct that we believe, in our sole discretion: (a) violates any provision of the Terms of Use, (b) violates the Community Guidelines, (c) is offensive to other users, (d) violates the rights of FLL or third parties, or (e) could cause FLL liability.
                    <p>Without limiting the foregoing, upon any termination of your account or access to the Web Site we may delete all your User Generated Content and other information in the Community Pages. If FLL suspects that your Registration Data is inaccurate or incomplete, we may suspend or</p>
                    terminate your account.

                    <h2>Modifications and Termination of Web Site</h2>
                    <p>FLL reserves the right at any time and from time to time to modify, suspend or discontinue, temporarily or permanently, the Web Site (or any part thereof), with or without notice to you. You acknowledge and agree that FLL shall not be liable to you or to any third party for any</p>
                    modification, suspension or discontinuance of the Web Site or its services or access thereto.

                    <h2>Indemnification</h2>
                    <p>You agree to indemnify, defend and hold harmless FLL, its parents, subsidiaries, affiliates, officers, directors, agents, employees, partners, suppliers and any third parties from any loss, liability, claim, demand, action or damage, including reasonable attorneys' fees, arising out</p>
                    of or related to (a) your use of or access to the Web Site or its services, (b) the use of your account, (c) any content, information or material you receive on or through the Web Site, (d) any content, information or material you post, display or distribute via the Web Site, including the User Generated Content, (e) your breach or violation of these Terms of Use, and (f) your violation of any intellectual property or other third party rights or any applicable law in connection with your use of the Web Site.

                    <h2>Disclaimer of Warranties</h2>
                    <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE WEB SITE AND YOUR FOLLOWING OR ADHERING TO THE ADVICE AND INFORMATION CONTAINED HEREIN IS AT YOUR SOLE RISK INCLUDING, WITHOUT LIMITATION, RISK OF INJURY OR DEATH, AND THAT THE WEB SITE, AND THE INFORMATION, CONTENT, ADVICE,</p>
                    PROGRAMS, GOODS AND SERVICES MADE AVAILABLE THEREIN, ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.
                    <p>TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, IN REGARD TO THE WEB SITE AND ALL CONTENT, INFORMATION AND MATERIAL THEREON AND PRODUCTS AND SERVICES MADE AVAILABLE THEREIN, FLO LIFE LLC EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, INCLUDING WITHOUT</p>
                    LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, ACCURACY AND COMPLETENESS, FREEDOM FROM COMPUTER VIRUS AND ANY IMPLIED WARRANTIES ARISING FROM COURSE OF DEALING OR COURSE OF PERFORMANCE.

                    <p>YOU ACKNOWLEDGE THAT ANY RELIANCE ON ANY OPINION, ADVICE, STATEMENT OR OTHER INFORMATION AVAILABLE THROUGH THE WEB SITE SHALL BE AT YOUR SOLE RISK. FLL DOES NOT MAKE ANY WARRANTY THAT THE WEB SITE OR ITS SERVICES WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS OR BE OF A CERTAIN QUALITY,</p>
                    OR THAT THE WEB SITE OR ITS SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, VIRUS-FREE OR ERROR-FREE, OR THAT DEFECTS IN THE WEB SITE, IF ANY, WILL BE CORRECTED.

                    <p>YOU UNDERSTAND AND AGREE THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE WEB SITE IS AT YOUR OWN DISCRETION AND RISK AND THAT YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL</p>
                    AND/OR INFORMATION. YOU FURTHER UNDERSTAND AND AGREE THAT THE INTERNET IS COMPOSED OF MANY PRIVATELY OWNED SYSTEMS AND NETWORKS OF TELEPHONE WIRES AND SWITCHES AND WIRELESS TECHNOLOGIES AND IS DEPENDENT FOR ITS ONGOING OPERATIONS UPON COMPUTERS AND OTHER ELECTRONIC HARDWARE THAT ARE OFTEN UNSTABLE AND SUBJECT TO MALFUNCTIONS, AND, THEREFORE, IT IS THE INHERENT NATURE OF THESE SYSTEMS AND NETWORKS, AND THE INTERNET TO EXPERIENCE SYSTEMS AND HARDWARE FAILURES, PACKET LOSSES AND DOWNTIME. ACCORDINGLY, YOU HEREBY RELEASE AND FOREVER DISCHARGE FLO LIFE LLC FROM ANY AND ALL COSTS, LOSSES, LIABILITY OR DAMAGES RESULTING FROM DOWNTIME CAUSED BY ANY OF THE FAILURES DESCRIBED OR REFERRED TO ABOVE.

                    <p>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM FLL OR THROUGH OR FROM THE WEB SITE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS OF USE.</p>

                    <h2>Limitation of Liability</h2>
                    <p>TO THE MAXIMUM EXTENT PERMISSIBLE BY LAW, FLL, ITS PARENTS, SUBSIDIARIES, AFFILIATES, AGENTS, OFFICERS, DIRECTORS, EMPLOYEES, SUPPLIERS OR ANY THIRD PARTIES SHALL NOT BE LIABLE FOR ANY DAMAGES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL</p>
                    DAMAGES, EVEN IF FLO LIFE LLC HAS BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN AN ACTION UNDER CONTRACT, NEGLIGENCE, OR ANY OTHER THEORY, ARISING OUT OF OR IN CONNECTION WITH THE USE, INABILITY TO USE, OR PERFORMANCE OF THIS WEB SITE OR THE INFORMATION, SERVICES, PRODUCTS, CONTENT AND OTHER MATERIALS AVAILABLE FROM OR THROUGH THE WEB SITE, INCLUDING WITHOUT LIMITATION ANY SUCH DAMAGES CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY, INOPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF ANY PERSONAL INFORMATION (AS THAT TERM IS DEFINED IN THE PRIVACY POLICY). YOU SPECIFICALLY ACKNOWLEDGE THAT FLO LIFE LLC SHALL NOT BE LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU. THE FOREGOING LIMITATIONS OF LIABILITY SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.
                    <p>IN NO EVENT SHALL FLL’S TOTAL LIABILITY TO YOU EXCEED THE FEES PAID BY YOU, IF ANY, FOR MEMBERSHIP, SUBSCRIPTION OR A PARTICULAR PRODUCT OR SERVICE.</p>
                    <p>SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>

                    <h2>Email Delivery Issues</h2>


                    <p>Due to the large number of email providers and anti-spam software applications, we cannot be responsible for blocked or blacklisted mailings. In addition, configuring email software settings which may block incoming emails are the sole responsibility of the user to adjust in order to</p>
                    receive Web Site mailings.

                    <h2>Product Warranties</h2>
                    <p>Except as expressly provided in any product guarantee and return policy provided by us, you hereby release FLL (and its affiliates, subsidiaries, and their respective officers, directors, agents, and employees) from any loss, claims or damages (including without limitation any</p>
                    direct, indirect, consequential, incidental, punitive, special or exemplary damages), whether known or unknown, suspected or unsuspected, disclosed or undisclosed, that arise from or relate to any product you may have purchased through the Web Site.

                    <h2>Products Purchased from Third Party Web sites</h2>
                    <p>We may make certain products and services available to you through links to third party Web sites. Before you purchase any products or services through any such third party Web site, we urge you to carefully review any such third party's privacy, security, return and guarantee</p>
                    policies. Your correspondence or business dealings with any such third party, including payment for and delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such third party. You agree that FLL shall not be responsible or liable for any loss, claim or damages of any sort incurred as a result of any dealings with any such third party.

                    <h2>Third-Party Web sites</h2>
                    <p>We provide links to other Web sites that may be of interest to you. We do not monitor or investigate such Web sites and we are not responsible for the content, functionality or practices of such Web sites. Once you link to a third party Web site, you will be subject to the terms of</p>
                    use, privacy policy and/or editorial policy of that site. Your linking to such Web sites is at your own risk, and FLL is not responsible or liable, directly or indirectly, for any damages or loss caused or alleged to be caused by or in connection with your use of or reliance on any content, goods or services available on or through any such site.

                    <h2>General</h2>
                    <p>The Terms of Use and the resolution of any dispute related to the Terms of Use or the Web Site shall be governed by and construed in accordance with the laws of the state of North Carolina, USA. You shall bring any legal action or proceeding against FLL related to the Web Site and</p>
                    these Terms of Use exclusively in a court of competent jurisdiction sitting in the state of North Carolina, USA, and you agree to submit to the personal and exclusive jurisdiction of such courts. If any provision(s) of the Terms of Use is found to be contrary to law, then such provision(s) will be construed, as nearly as possible, to reflect the intentions of the parties with the other provisions remaining in full force and effect. FLL’s failure to exercise or enforce any right or provision of the Terms of Use will not constitute a waiver of such right or provision unless acknowledged and agreed to by FLL in writing. These terms and conditions constitute the entire agreement between you and Flo Life LLC with respect to the subject matter herein and supersede any and all prior or contemporaneous oral or written agreements. You may not assign this agreement to any other party and any attempt to do so is void.
                    <p>You will at all times be deemed to be an independent contractor with respect to the subject matter of these Terms of Use, and nothing contained in these Terms of Use will be deemed or construed in any manner as creating any partnership, joint venture, employment, agency, fiduciary or</p>
                    other similar relationship. You may not assign your rights or obligations under these Terms of Use to any party. You have independently evaluated these Terms of Use and are not relying on any representation, guarantee, or statement from us or anyone else, other than as expressly set forth in these Terms of Use.

                    <h2>Contact Us</h2>
                    <p>Any questions or comments can be directed to us through the email address help@flofit.com.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
