/.idea/*
/web/bundles

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/config/parameters_dev.yml
/app/config/parameters_prod.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/composer.phar
app/sessions/*
web/adminer.php
