web:
  build: .
  links:
    - mysql:database
    - redis:redis
    - elasticsearch:elasticsearch
  ports:
    - "8888:80"
  expose:
    - "8888"
  volumes:
    - .:/var/app

mysql:
  image: mysql/mysql-server:5.7
  ports:
    - 3306:3306
  environment:
    - MYSQL_ROOT_PASSWORD=my-secret-pw -d
    - MYSQL_DATABASE=venice
    - MYSQL_USER=user
    - MYSQL_PASSWORD=pass

redis:
  build: ./docker/redis/
  ports:
    - 6380:6379
  volumes:
    - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf
  restart: always

elasticsearch:
  image: elasticsearch:latest
#  build: ./docker/elasticSearch
  ports:
#    - 9300:9300
    - 9201:9200