option_settings:
  - option_name: SYMFONY__DATABASE_HOST
    value: database
    
  - option_name: SYMFONY__DATABASE_PORT
    value: 3306
    
  - option_name: SYMFONY__DATABASE_NAME
    value: venice
    
  - option_name: SYMFONY__DATABASE_USER
    value: user
    
  - option_name: SYMFONY__DATABASE_PASSWORD
    value: pass
    
  - option_name: SYMFONY__DATABASE_HOST_FLOFIT
    value: "flofit-prod.cfj2nhpkl30r.us-west-2.rds.amazonaws.com"
    
  - option_name: SYMFONY__DATABASE_PORT_FLOFIT
    value: 3306
    
  - option_name: SYMFONY__DATABASE_NAME_FLOFIT
    value: "flofit_venice"
    
  - option_name: SYMFONY__DATABASE_USER_FLOFIT
    value: fajkus
    
  - option_name: SYMFONY__DATABASE_PASSWORD_FLOFIT
    value: "M8hVwKu6knkz("
    
  - option_name: SYMFONY__NECKTIE_CLIENT_ID
    value: "3_1opf66rtd32848cw8s00k0wcs0k0sg4so4g8o08ogw0g8gg4k4"
    
  - option_name: SYMFONY__NECKTIE_CLIENT_SHORT_ID
    value: 3
    
  - option_name: SYMFONY__NECKTIE_CLIENT_SECRET
    value: "2l3ytusjnzc48gcog0skk88880soss4kc4gwgs0s408cgwwkww"
    
  - option_name: SYMFONY__NECKTIE_URL
    value: "necktie_web_1/app_dev.php"
    
  - option_name: SYMFONY__MAILER_TRANSPORT
    value: smtp
    
  - option_name: SYMFONY__MAILER_HOST
    value: "127.0.0.1"
    
  - option_name: SYMFONY__MAILER_USER
    value: ""
    
  - option_name: SYMFONY__MAILER_PASSWORD
    value: ""
    
  - option_name: SYMFONY__SECRET
    value: SecretTokenForVenice
    
  - option_name: SYMFONY__LOGIN_ROUTE
    value: "necktie_login"
    
  - option_name: SYMFONY__LOGIN_RESPONSE_ROUTE
    value: "necktie_login_response"
    
  - option_name: SYMFONY__PRIMARY_GATEWAY_SERVICE
    value: necktie
    
  - option_name: SYMFONY__REDIS_DSN
    value: "redis://venice_pass@redis"
    
  - option_name: SYMFONY__AMAZON_S3_BUCKET
    value: "test-modpreneur"
    
  - option_name: SYMFONY__AMAZON_S3_KEY
    value: AKIAJH3FKN6SGDGI6JKA
    
  - option_name: SYMFONY__AMAZON_S3_SECRET
    value: 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
    
  - option_name: SYMFONY__AMAZON_S3_REGION
    value: "us-west-2"
    
  - option_name: SYMFONY__FROALA_EDITOR_KEY
    value: ""
    
  - option_name: SYMFONY__RABBIT_URL
    value: "necktie_rabbit_mq_1"
    
  - option_name: SYMFONY__RABBIT_PORT
    value: 5672
    
  - option_name: SYMFONY__RABBIT_USER
    value: "venice_8d1ded86c2a9865b3fa72e3e859a23021447cfb67984d6ab363a6cf9bdf7d836"
    
  - option_name: SYMFONY__RABBIT_PASSWORD
    value: "ef5b49b117296008d7a256e81b16472d772a373f23a7ea7d59057cc713970a7e"
    
  - option_name: SYMFONY__CLIENT_IDENTIFICATION
    value: "client_3"
    
  - option_name: SYMFONY__ELASTICSEARCH_HOST
    value: "elasticsearch:9200"

  - option_name: SYMFONY__AMAZON_BASE_PATH_WITH_BUCKET
    value: "https://%amazon_s3_bucket%.s3.amazonaws.com/"

  - option_name: SYMFONY__AMAZON_CLOUD_FRONT_LINK_EXPIRATION
    value: 300

  - option_name: "SYMFONY__COOKIE_DOMAIN"
    value: "localhost"

  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800

  - option_name: "SYMFONY__FORUM_URL"
    value: "http://community.flofit.resultsink.getnecktie.com"