parameters:
    database_host:     database
    database_port:     3306
    database_name:     venice
    database_user:     user
    database_password: pass

    database_host_flofit: flofit-prod.cfj2nhpkl30r.us-west-2.rds.amazonaws.com
    database_port_flofit: 3306
    database_name_flofit: flofit_venice
    database_user_flofit: fajkus
    database_password_flofit: M8hVwKu6knkz(
    necktie_client_id: 3_1opf66rtd32848cw8s00k0wcs0k0sg4so4g8o08ogw0g8gg4k4
    necktie_client_short_id: 3
    necktie_client_secret: 2l3ytusjnzc48gcog0skk88880soss4kc4gwgs0s408cgwwkww
    necktie_url: 'necktie_web_1/app_dev.php' #without trailing backslash!

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            SecretTokenForVenice

    #values for customer management services
    login_route: necktie_login
    login_response_route: necktie_login_response
    primary_gateway_service: necktie
    secondary_gateway_service:
    redis_dsn: 'redis://venice_pass@redis'
    amazon_s3_bucket: flofit-prod
    amazon_s3_key: AKIAJJT4CMPP27JCSALA
    amazon_s3_secret: 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
    amazon_s3_region: us-west-2
    froala_editor_key: ~

    rabbit_url: necktie_rabbit_mq_1
    rabbit_port: 5672
    rabbit_user: venice_8d1ded86c2a9865b3fa72e3e859a23021447cfb67984d6ab363a6cf9bdf7d836
    rabbit_password: ef5b49b117296008d7a256e81b16472d772a373f23a7ea7d59057cc713970a7e
    client_identification: "client_3"

    elasticsearch_host: "elasticsearch:9200"

    cookie_domain: "localhost"

    amazon_base_path_with_bucket: https://%amazon_s3_bucket%.s3.amazonaws.com/
    amazon_cloud_front_link_expiration: 300
    forum_url: 'necktie.docker:8889'