parameters:
    database_host:     database
    database_port:     3306
    database_name:     venice
    database_user:     user
    database_password: pass
    necktie_client_id: ~
    necktie_client_secret: ~
    necktie_url: 'http://192.168.99.100:80/app_dev.php' #without trailing backslash!

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            SecretTokenForVenice

    #values for customer management services
    login_route: necktie_login
    login_response_route: necktie_login_response
    primary_gateway_service: necktie
    secondary_gateway_service:
    redis_dsn: 'redis://venice_pass@venice_redis_1'
    amazon_s3_bucket: ~
    amazon_s3_key: ~
    amazon_s3_secret: ~
    amazon_s3_region: ~
    froala_editor_key: ~



