{% extends "VeniceAppBundle::base.html.twig" %}

{% block bodyFull %}
    <body class="reset-pass-step-body">
    <div class="login-main signup upsell">
        <div class="section header-main-logo">
            <div class="container">
                <div class="row">
                    <div class="span-mini-24">
                        <i class="ff-flofitlogo"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="section login">
            <div class="container">
                <div class="row">
                    <div class="span-mini-24">
                        <div class="row text-center">
                            <span class="text-login">Change Password</span>
                            <form method="POST" class="fos_user_change_password_form">
                                <div class="input-reset-pass">
                                    <label for="username">
                                        <input type="password"
                                               id="fos_user_change_password_form_current_password"
                                               name="fos_user_change_password_form[current_password]"
                                               placeholder="current password"
                                               required="required"
                                               autofocus />

                                        <input type="password"
                                               id="fos_user_change_password_form_plainPassword_first"
                                               name="fos_user_change_password_form[plainPassword][first]"
                                               placeholder="new password"
                                               required="required"/>

                                        <input type="password"
                                               id="fos_user_change_password_form_plainPassword_second"
                                               name="fos_user_change_password_form[plainPassword][second]"
                                               placeholder="repeat new password"
                                               class="margin-bottom-30"
                                               required="required"/>

                                        <input id="fos_user_change_password_form__token"
                                               name="fos_user_change_password_form[_token]"
                                               value=""
                                               type="hidden"/>
                                    </label>
                                </div>

                                <p id="errors"></p>

                                <div class="row input-reset-pass padding-bottom-30">
                                    <input type="submit" id="_submit" name="_submit" value="Change password" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section main-footer">
            <div class="container">
                <footer>
                    <div class="row block relative">
                        <div class="block-left">
                            <p><span>FLO FIT &copy; {{ "now"|date("Y") }}</span> Burn It Now Productions, Inc. FLO FIT and FLO RIDA trademarks, name, image, and likeness are owned by FLO RIDA and FLO FIT Holdings LLC, and are being used under license by Flo Life LLC. All rights reserved.</p>
                        </div>
                        <div class="block-right">
                            <div class="navbar">
                                <ul>
                                    {{ footerLinksBlock() }}
                                </ul>
                            </div>
                        </div>
                        <div class="block-center text-center">
                            <a href="{{ path("landing_page") }}"><i class="ff-flofitlogo"></i></a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    </body>
{% endblock %}