{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Password already requested{% endblock %}

{% block bodyFullReset %}reset-pass-step-body reset-last-step{% endblock %}

{% block fos_user_content %}

    {% block body %}
        <div class="login-main signup upsell">
            <div class="section header-main-logo">
                <div class="container">
                    <div class="row">
                        <div class="span-mini-24">
                            <i class="ff-flofitlogo"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section login">
                <div class="container">
                    <div class="row">
                        <div class="span-mini-24">
                            <div class="row text-center">
                                <h1 class="text-login">Password already requested</h1>
                                <h2 class="sub-header margin-bottom-30">The password for this user has been already requested within the last 24 hours.</h2>
                            </div>

                            <form action="{{ path('fos_user_security_login') }}" class="user-form">
                                <input id="_submit" type="submit" value="Back to Log in">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section main-footer">
                <div class="container">
                    <footer>
                        <div class="row block relative">
                            <div class="block-left">
                                <p><span>FLO FIT &copy; {{ "now"|date("Y") }}</span> Burn It Now Productions, Inc. FLO FIT and FLO RIDA trademarks, name, image, and likeness are owned by FLO RIDA and FLO FIT Holdings LLC, and are being used under license by Flo Life LLC. All rights reserved.</p>
                            </div>
                            <div class="block-right">
                                <div class="navbar">
                                    <ul>
                                        {{ footerLinksBlock() }}
                                    </ul>
                                </div>
                            </div>
                            <div class="block-center text-center">
                                <a href="{{ path("landing_page") }}"><i class="ff-flofitlogo"></i></a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock fos_user_content %}