{% extends "VeniceAppBundle::base.html.twig" %}

{% block bodyFull %}
    <body class="reset-pass-step-body">
        <div class="login-main signup upsell">
            <div class="section header-main-logo">
                <div class="container">
                    <div class="row">
                        <div class="span-mini-24">
                            <i class="ff-flofitlogo"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section login">
                <div class="container">
                    <div class="row">
                        <div class="span-mini-24">
                            <div class="row text-center">
                                <span class="text-login">Reset Password</span>
                                <form action="form_action" method="POST" class="fos_user_resetting_request">
                                    <div class="input-reset-pass">
                                        <label for="username">
                                            <i class="ff-sign-mail"></i>
                                            <input type="text" id="username" name="username"  placeholder="enter your username or email" required="required" class="margin-bottom-30"/>
                                        </label>
                                    </div>

                                    <p id="invalid-username">Invalid Username</p>

                                    <div class="row input-reset-pass">
                                        <input type="submit" id="_submit" name="_submit" value="Reset password" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section main-footer">
                <div class="container">
                    <footer>
                        <div class="row block relative">
                            <div class="block-left">
                                <p><span>FLO FIT &copy; {{ "now"|date("Y") }}</span> Burn It Now Productions, Inc. FLO FIT and FLO RIDA trademarks, name, image, and likeness are owned by FLO RIDA and FLO FIT Holdings LLC, and are being used under license by Flo Life LLC. All rights reserved.</p>
                            </div>
                            <div class="block-right">
                                <div class="navbar">
                                    <ul>
                                        {{ footerLinksBlock() }}
                                    </ul>
                                </div>
                            </div>
                            <div class="block-center text-center">
                                <a href="{{ path("landing_page") }}"><i class="ff-flofitlogo"></i></a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </body>
{% endblock %}