{{ TwitterSubscribeServiceRender("init") }}

<i class="ff-twitter-negative"></i><span>Connected</span>
<a href="profile/unsubscribe/twitter" class="button-functional" type="button" value="REMOVE">REMOVE</a>
