<script>
    function closePasswordPopup(){
        $("#passwordChangePopup").fadeOut(600);
        $('html').css("overflow-y","auto");
    }
    $(document).ready(function(){
        $(".close-cancel-modal").click(function(e) {
            e.preventDefault();
            closePasswordPopup();
        });
        if (document.getElementById("passwordChangePopup")) {
            $('html').css("overflow-y","hidden");
        }
    });
</script>

<div id="passwordChangePopup">
    <a class="close-cancel-modal close-cancel-full" href="#close-cancel-modal"></a>
    <div class="wrapper">
        <a class="close-cancel-modal close-cross" href="#close-cancel-modal"><i class="ff ff-cross2"></i></a>
        <div id="passwordChangePopupBlock">
        {% block passwordChangePopupBlock %}
            {% if done is defined and done %}
                <h2>Thank you!</h2>
                <script>
                    setTimeout(closePasswordPopup, 1000);
                </script>
            {% else %}
                <h2>To keep you account secure, please change your password.</h2>
                {{ form(passwordChangeForm) }}
                <div class="padding-top-20">
                    <a class="close-cancel-modal link font-20" href="#close-cancel-modal">SKIP</a>
                </div>
            {% endif %}
        {% endblock %}
        </div>
    </div>
</div>

