{% extends "VeniceAppBundle::base.html.twig" %}

{% block bodyFull %}
    <body class="{% block bodyFullReset %}{% endblock %}">
        {% block fos_user_content %}{% endblock %}
    </body>
{% endblock %}