<a href="#" onclick="signOut();">Sign out</a>
<script>
    function signOut() {
//        gapi.load('auth2', function() {
//            gapi.auth2.init();
//        });
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>