<nav class="navbar">
    {% for menuItem in pageMenuHolder %}
        {% if menuItem.isCurrent and menuItem.children|length != 0 %}
            {{ knp_menu_render(menuItem,{template:":CoreBundle/Front/menuTemplates:secondLevelMenu.html.twig"}) }}
        {% endif %}
    {% endfor %}
</nav>
