<nav class="navbar">
    {% for menuItem in pageMenuHolder %}
        {% if menuItem.isCurrent() and menuItem.children|length != 0 %}
            {{ knp_menu_render(menuItem, {depth: 1, template: "VeniceFrontBundle:MenuTemplates:secondLevelMenu.html.twig"}) }}
        {% endif %}
    {% endfor %}
</nav>
